@import url('https://fonts.googleapis.com/css2?family=Anton&family=Archivo&family=Arimo&family=Audiowide&family=Barlow+Condensed&family=Bitter&family=Dancing+Script:wght@400;700&family=Fira+Sans:wght@300&family=Fjalla+One&family=Heebo&family=Hind&family=IBM+Plex+Sans:wght@200&family=Inter:wght@500;600&family=Lato:wght@400;700&family=League+Spartan&family=Libre+Franklin&family=Lora:ital@1&family=M+PLUS+1&family=Montserrat:wght@300&family=Mulish:ital,wght@0,200;0,500;1,300&family=Nunito&family=Open+Sans&family=Oswald&family=Overpass&family=PT+Sans:wght@700&family=PT+Serif&family=Questrial&family=Roboto+Serif:wght@300;400&family=Roboto:wght@300;500;900&family=Rubik:wght@300;400&family=Secular+One&family=Smooch+Sans&family=Source+Sans+Pro:wght@300;400&family=Ubuntu&family=Yellowtail&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  width: 740px;
  margin: auto;
  position: relative;
}
.main-container{
  width: 740px;
  margin: auto;
  box-shadow: 0px 0px 7px 2px #ad9a6f;
  padding: 26px 20px 26px 20px;
  font-family: Lato;
  font-size: 14px;
  line-height: 22px;
}
.container{
  width: 100%;
  margin: auto;
  padding: 30px 30px 0 30px;
  border:2px solid  #5ea3cc;
  background-color: #fdfefe
}
.sub-container{
  display: grid;
  grid-template-columns: 43% 0 1fr;
  column-gap: 40px;
}
.skill1,.skill2,.skill3,.skill4,.skill5,.skill6,.lang1,.lang2{
  display: grid;
  grid-template-columns: 35% 1fr;
  padding-bottom: 10px;
}
.skill-name,.lang-name{
  position: relative;
  bottom: 8px;
}
.name{
  position: relative;
  top: -164px;
  right: 58px;
}
.marketing{
  color: #d9f0f5;
  letter-spacing: 3px;
  word-spacing: 2px;
  /* border: 2px solid black; */
  position: absolute;
  top: 171px;
  left: -104px;
  padding: 5px 40px 5px 41px;
  transform: rotate(-90deg);
  z-index: 1;
  background-color: #0a88c7;
  font-weight: bold;
}
.progressbar{
  width: 100%;
  height: 7px;
  background-color: #ededed;
}
.fillprogress1{
  height: 100%;
  width: 60%;
  background-color: #7d787e;
}
.fillprogress2{
  height: 100%;
  width: 80%;
  background-color: #7d787e;
}
.fillprogress3{
  height: 100%;
  width: 90%;
  background-color: #7d787e;
}
.fillprogress4{
  height: 100%;
  width: 50%;
  background-color: #7d787e;
}
.fillprogress5{
  height: 100%;
  width: 90%;
  background-color: #7d787e;
}
.fillprogress6{
  height: 100%;
  width: 95%;
  background-color: #7d787e;
}
.heading-data{
  display: grid;
  grid-template-columns: 30% 1fr;
  column-gap: 30px;
}
.heading-profile{
  margin-bottom: 20px;
  color: #2090d1;
}
.img{
  width: 75%;
  height: 147px;
  border-radius: 50%;
  border: 2px solid #5ea3cc;
}
.img img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  padding: 2px;
}
.contact{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.phone,.web,.email,.location{
  display: grid;
  grid-template-columns: 20% 1fr;
  margin-bottom: 20px;
}
.heading-experience,.heading-award,.heading-skills,.heading-lang,.heading-education,.heading-projects,.heading-certi,.heading-references{
  margin-top: 35px;
  margin-bottom: 20px;
  color: #2090d1;
}
.bold{
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-size: 14px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.expe1,.expe2,.award1,.award2,.education1{
  margin-bottom: 30px;
}
.small-para{
  margin-bottom: 10px;
}
hr{
  border: 1px solid #5ea3cc;
  margin-top: 30px;
  margin-bottom: 30px;
}
.profile-name{
  font-size: 40px;
  position: absolute;
  top: 194px;
  left: 52px;
}

.p-link{
  color: #2090d1;
  margin-bottom: 10px;
}
.certi-para1{
  margin-bottom: 10px;
}
.date{
  font-weight: bold;
  font-size: 14px;
}
.insta,.Twitter,.facebook{
  display: grid;
  grid-template-columns:8% 1fr;
  column-gap: 10px;
}
.social i{
  font-size: 18px;
  position: relative;
  top: 3px;
}
.social{
  margin-top: 30px;
}
.insta,.facebook{
  padding-bottom: 5px;
}
.company-name{
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.certi,.references{
  display: none;
}
.first-div{
  margin-bottom: 30px;
}